header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 100%;
    z-index: 99999;

    .logo
    {
        display: block;
        font-size: 40px;
        color: var(--accent);
        text-decoration: none;
    }

    & nav
    {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--background-color);
        box-shadow: 0 0 20px rgba(0, 0, 17, 0.658);
        /* outline: 1px solid #ffff00af; */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        & ul
        {
            margin: 0;
            padding: 0;
            display: none;
            list-style: none;
            justify-content: stretch;
            width: 100%;

            & li
            {
                display: block;
                writing-mode: vertical-lr;
                
                @media screen and (min-width: 750px)
                {
                    height: max-content;
                    writing-mode: unset;

                    &:last-child
                    {
                        margin-right: 12px;
                    }
                }
            }

            & a
            {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--text-secondary);
                padding-inline: 16px;
                transition: 0.2s color ease;
                width: 100%;

                &:hover
                {
                    color: var(--text-primary);
                }

                @media screen and (min-width: 750px)
                {
                    padding-inline: 20px;
                    width: max-content;
                }
            }
            
            & a[data-active]
            {
                color: var(--accent);
            }

            @media screen and (min-width: 750px)
            {
                display: flex;
            }
        }

        .btn-toggle-menu
        {
            padding: 8px;
            background: none;
            border: none;
            cursor: pointer;

            .menu-icon
            {
                width: 48px;
                height: 48px;
                position: relative;
            }

            .menu-icon .line
            {
                position: absolute;
                inset-inline: 4px;
                translate: 0 -50%;
                top: 50%;
                height: 3px;
                background-color: var(--accent);
                transition: background-color 0.2s ease;

                &::before, 
                &::after
                {
                    content: '';
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    margin: 0;
                    left: 0;
                    background-color: var(--accent);
                    rotate: 0deg;
                    transform-origin: center center;
                    transition-property: top, rotate;
                    transition-duration: 0.1s;
                    transition-delay: 0.1s, 0s;
                    transition-timing-function: ease;
                }

                &::before
                {
                    top: -12px;
                }

                &::after
                {
                    top: +12px;
                }
            }

            @media screen and (min-width: 750px)
            {
                display: none;
            }
        }

        @media screen and (min-width: 750px)
        {
            position: relative;
            bottom: unset;
            right: unset;
            padding: 0;
            box-shadow: none;
        }
    }

    & nav.shown
    {
        & ul
        {
            display: grid;
            
            @media screen and (min-width: 750px)
            {
                display: flex;
            }
        }

        .btn-toggle-menu
        {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: 0;

            .menu-icon .line
            {
                background-color: transparent;
                
                &::before, 
                &::after
                {
                    top: 0;
                    transition-delay: 0s, 0.1s;
                }
                
                &::before
                {
                    rotate: 45deg;
                }

                &::after
                {
                    rotate: -45deg;
                }

            }
        }
    }

    @media screen and (min-width: 750px)
    {
        padding: unset;
        padding-left: 32px;
    }
}
