section.skills h2
{
    font-size: 2.5rem;
    text-align: center;
}

.skills-grid
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 128px);
    gap: 16px;
    place-content: center;
}