*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas';
}

body, html
{
    width: 100%;
    height: 100%;
}

.out
{
    width: 100%;
    background: #333;
    border: none;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.out div
{
    padding: 5px;
    border-left: none;
    border-right: none;
    position: relative;
}

.out div:not(:nth-child(1))
{
    margin-top: -1px;
}

.info
{
    color: white;
    border: 1px solid gray;
    z-index: 0;
}

.warning
{
    color: #D8BB80;
    background: #332B00;
    border: 1px solid #665500;
    z-index: 1;
}

.error
{
    color: #e25353;
    background: #360000;
    border: 1px solid #b60000;
    font-weight: 400;
    z-index: 1;
}

.input
{
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.input span
{
    font-size: 12px;
    margin-right: 5px;
}

.input input[type="text"]
{
    width: 100%;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 12px;
}

.out :where([data-primitive])
{
    color: #9980ff; 
}

.out :where([data-string])
{
    color: #35d4c7;
}

.out :where([data-function])
{
    font-style: italic;
}

.out :where([data-function-prefix])
{
    color: #f29766;
}

.out :where([data-input-prefix])
{
    margin-right: 0.5em;
    color: #777;
}

.out :where([data-return-value-prefix])
{
    margin-right: 0.5em;
    color: #777;
    letter-spacing: -3px;
}